body {
	margin: 0;
	padding-top: 100px;
}

.submit-area {
	padding: 30px;
	margin-top: 50px;
	border-radius: 10px;
	box-shadow: 5px 5px gray;
}

#login-area {
	width: 70%;
	margin: 0 auto;
}

#account-area {
	display: none;
	margin-top: 5%;
}

.deposit {
	background-color: slateblue;
}

.withdraw {
	background-color: lightsalmon;
}

.balance {
	background-color: tomato;
}

.status {
	margin: 0 20px;
	color: white;
	padding: 20px;
	border-radius: 10px;
}
